* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman",Arial,sans-serif;
  font-size: 15px;
}
.container {
  width: 500px;
  margin: 5px auto;
  border: 1px solid #dfdfdf;
  resize: none;
}

.profile, .fact {width: 100%;}
.profile__title {
  height: 28px;
  padding-left: 1px;
  padding-top: 3px;
  font-size: 17px;
  background-image: url("images/bg_profile_title.gif");
  background-repeat: no-repeat;
  background-size: auto 16px;
  background-position: bottom;
}
.profile__avatar {
  float: left;
  margin-left: 13px;
}
.profile__list-info {
  float: left;
  overflow: scroll;
  width: 390px;
  height: 100px;
  margin-left: 5px;
  margin-bottom: 15px;
}
.fact__title {
  clear: both;
  padding-left: 3px;
  font-size: 17px;
}

.fact__list {
  position: relative;
  list-style-type: none;
  padding: 20px 60px 0 37px;
  margin-bottom: 64px;

}
.fact__list li {
  margin-bottom: 1.8px;
  font-size: 15px;

}
.fact__list li:before {
  content: url("images/icn_star.png");
  padding-right: 5px;
}
.comment {
  margin-bottom: 30px;
}
.comment__content {
  position: relative;
  width: auto;
  height: 43px;
  line-height:1;
  margin: auto 1px;
  padding: 9px 0 5px 19px;
  background-color: #ececec;
}
.comment__content:after {
  position: absolute;
  content: "";
  width: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #ececec;
  top: 100%;
  left: 19px;
}
.comment__post {
  padding-left: 45px;
  margin-top: 1.8px;
  font-size: 13px;
}
.comment__post a {
  text-decoration: none;
  font-size: 13px ;
}
.your-commnet__table td:first-child {
  width: 105px;
}

.your-commnet__table textarea {
  width: 383px;
  height: 85px;

  text-align: left;
  padding: 2px;
}
.your-commnet__table input {
  width: 146px;
  height: 22px;
}
