* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Times New Roman", SansSerif;
  font-size: 12px;
}
.container {
  width: 316px;
  height: auto;
  margin: 16px auto 15px auto;
  padding: 16px 9px 25px 11px;
  background-color: #e6f3fb;
}
.title {
  font-family: "Times New Roman";
  font-size: 16px;
}
.topic-1, .topic-2, .topic-3{
  width: 296px;
  height: auto ;
  border-top: 4px solid #f7a418;
  background-color: white;
}
.topic-1__images-people{
  float: left;
  margin: 7px 7px 12px 8px;
}
.topic-1__title {color: #0a6395 ;}
.topic-1__content {
  padding-top: 5px;
  font-size: 12px;
  font-family: Arial;
}
.topic-1__list-chat {
  list-style-type: none;
  clear: both;
}
.topic-1__list-chat-item {
  width: auto;
  height: 32px;
  padding: 9px 10px 12px;
  border-bottom: 1px solid #fff;
  background-color: #f9f1c2;
  color: #0a6395;;
}
.topic-2 {
  background-color: white;
  margin-bottom: 16px;
}
.topic-2__image {
  float: left;
  padding: 20px 23px 20px 14px;
}
.topic-2__title {
  margin-top: 24px;
}
.topic-2__content {
  font-size: 11px;
}
.topic-2__date {
  padding-bottom: 12px;
  color: #595959;
}
.topic-2__footer {
  clear: both;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background: #f4f4ea;
}
.topic-2__footer__content:first-line {
  color: #050801;
  font-weight: normal;
}
.topic-2__footer__content {
  float: left;
  height: 100%;
  padding: 13px 0  23px 12px;
  color: #0a6395;
  font-weight: bold;
}
.topic-2__footer-images {
  float: right;
}
.topic-3__content {
  float: left;
  clear: both;
  width: 125px;
  height: auto;
  margin: 24px auto 15px 23px;
}
.topic-3__link {
  text-decoration: none;
  line-height: 30px;
  color: #0a6395;
}
.topic-3__images-phone {float: right;}

.line {
  display: block;
  clear: both;
  width: auto;
  margin-top: 8px;
  margin-bottom: 3px;
  border: 1px solid #595959;
}
.topic-4 {
  border: 1px solid #595959;
  padding-top: 21px;
  padding: 8px;
  color: #4d5d73;
  background-color: white;
}



