* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Arial, "Arial Black",sans-serif;
  font-size: 12px;
}
.container {
  width: 1031px;
  height: auto;
  margin: 5px auto;
  color: #595959;
  background-color: #121214;
}
.side-left {
  float: left;
  width: 619px;
  height: 100%;
  padding-left: 185px;
  padding-bottom: 50px;
}
.side-left__title {
  height: 87px;
  padding-top: 37px;
  font-size: 12px;
}
.side-left__topic1-image {
  float: left;
}
.side-left__line {
  display: block;
  margin-top: 13px;
  margin-right: 27px;
  border: 1px dashed transparent;
  border-top: 1px dotted #2c2c2e;
}
.side-left__topic1-content,.side-left__topic1-title {
  float: left;
  width: 302px;
  line-height: .9;
  padding-left: 23px;
}
.side-left__topic1-title {
  margin-bottom: 12px;
  color: #fff;
}

.side-left__topic1-content p:last-child {
  clear: both;
  padding-bottom: 28px;
}
.side-left__show-size {
  line-height: 1;
}
.side-left__topic2 {
  padding-left: 18px;
}
.more-info--size1, .more-info--size2, .more-info--size3
{
  color: #fff;
}
.more-info--size1 {
  padding-top: 11px;
  padding-bottom: 83px;
}
.more-info--size2 {padding-top: 13px;}
.more-info--size3 {padding-top: 48px;}

.more-info:before {
  content: url("images/icn_next.png");
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.side-left__topic2-content2:first-line {color: white;}
.side-left__topic2-table-list {
  padding-top: 13px;
  line-height: 1.8;
}
.side-left__topic2-table-list a {color: #595959;}
.side-left__topic2-table-list td:before {
  content: url("images/icn_style_list.png");
  margin-right: 9px;
}
.side-right {
  float: left;
  width: 237px;
  height: 385px;
  margin-top: 22px;
  padding: 72px  22px 0;
  background-color: #232227;
}
.side-right__line {
  display: block;
  border: .5px solid #353439;
}
.side-right__logo {
  margin-top: 26px;
  margin-left: 10px;
}
.side-right__content {
  margin-top: 19px;
  margin-left: 12px;
}
.side-right__content1:first-line, .side-right__content3 {
  color: #fff;
}
.side-right__content2 {
  color: #595959;
  margin-top: 3px;
}
.side-right__content3, .side-right__content4 {
  display: inline;
}
.side-right__content4 {
  line-height: -5;
  color: #767884;
}

.footer {clear: both;}
